<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UeditorServlet</servlet-name>
    <servlet-class>servlet.UeditorServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DetailServlet</servlet-name>
    <servlet-class>servlet.DetailServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SchemaServlet</servlet-name>
    <servlet-class>servlet.SchemaServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryTypeServlet</servlet-name>
    <servlet-class>servlet.QueryTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryRecordServlet</servlet-name>
    <servlet-class>servlet.QueryRecordServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteRecordServlet</servlet-name>
    <servlet-class>servlet.DeleteRecordServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CollectNewsServlet</servlet-name>
    <servlet-class>servlet.CollectNewsServlet</servlet-class>
  </servlet>









  <servlet-mapping>
    <servlet-name>UeditorServlet</servlet-name>
    <url-pattern>/UeditorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DetailServlet</servlet-name>
    <url-pattern>/DetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SchemaServlet</servlet-name>
    <url-pattern>/SchemaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryTypeServlet</servlet-name>
    <url-pattern>/queryTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryRecordServlet</servlet-name>
    <url-pattern>/queryRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteRecordServlet</servlet-name>
    <url-pattern>/deleteRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CollectNewsServlet</servlet-name>
    <url-pattern>/collectNewsServlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
</web-app>
